*{
    box-sizing: border-box;
    font-family:  "Poppins", sans-serif ;
}

body{
    margin: 0;       
}
.header{
    display: flex;
    width: 100%;
    height: 150px;
    background: linear-gradient(to top ,rgba(210, 210, 55, 0.704) ,rgba(67, 215, 13, 0.737));
    justify-content: center;
    align-items: center;
}
.header .text{
    display: block;
    text-align: center;
    line-height: 20px;
}
.header h1{
    color: rgba(102, 46, 14, 0.942);
    font-size: 38px;    
}
.header p{
    color: rgb(58, 35, 26);
    font-size: 20px;
}

.navigation_menu{
    display: flex;
    width: 100%;
    height: 50px;
    background: linear-gradient(to left ,rgb(55, 224, 70),rgb(225, 233, 72));
    align-items: center;
    justify-content: center;
}
.navigation_menu .text {
    display: flex;
    gap: 20px;
    text-align: center;
}
.navigation_menu a{
    
    color: rgb(98, 46, 10);
    font-weight: bold;
    text-decoration: none;
    font-size: 15px;
    transition: all 0.3s ease;
    cursor: pointer;
    padding: 7px;
    border-radius: 7px;
}
.navigation_menu a:hover{
    color: white;
    background-color: brown;
    border: 0;
    transform: translateY(-6px);
}
.navigation_menu:hover a:not(:hover) {
    transform: translate(10px);
}
.main{
    width: 100%;
    height: 970px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: antiquewhite;  
    position: relative;
}
.main img {
    
    width: 100%;
    height: 400px;
    object-fit: cover;
    
}
.main .card{
    position:absolute;
    background-color: white;
    border-radius: 10px;
    top: 200px;
    right: 40px;
    padding-left: 20px;
    padding-right: 55px;
    padding-bottom: 10px;
}
.main p{
    line-height: 10px;
}
.main .h2{
    color: rgb(113, 48, 8);
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 55px;
}
.main .box{
    width: 300px;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: all 0.3s ease;
}
.main .box:hover{
    transform: translateY(-6px);
    background-color: rgba(226, 181, 127, 0.43);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.main .text{
    color: rgba(102, 46, 14, 0.942);
    font-weight: bold;
    font-size: 20px;
}
.main .inline{
    display: flex;
    text-align: center;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.main .quote{
    color: rgb(58, 35, 26);
    font-size: 20px;
    text-align: center;
    line-height: 20px;
}
.main .information{
    
    background-color: white;
    display: block;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    padding: 14px;
    border-radius: 15px;
    transition: all 0.3s ease;
    width: 300px;

}
.main .information:hover{
    transform: translateY(-10px);
    background-color: antiquewhite;
    
}
.main .img{
    
    border-radius: 50%;
    width: 130px;
    height: 130px;
    text-align: center;
}

.footer{
    display: flex;
    background-color: rgb(102, 46, 13);
    width: 100%;
    height: 90px;
    justify-content: center;
    align-items: center;
}
.footer p{
    color: white;
    line-height: 10px;
    text-align: center;
}
.footer .block{
    display: block;
}